mat-sidenav.mat-sidenav.sidenav {
    position: fixed;
    top: 64px;
    bottom: 0;
    left: 0;
    padding: 0;
    min-width: 260px;
    // background-color: $offwhite;
    box-shadow: 6px 0 6px rgba(0,0,0,0.10);

    &.collapsed {
        top: 56px;
    }
}

mat-toolbar.mat-toolbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);

    mat-toolbar-row {
        padding: 0 16px 0 0;
    }

    // mat-icon {
    //     color: $white;
    // }
}

.hamburger.mat-button {
    height: 100%;
    // margin: $hamburgerShownMargin;
    padding: 0;
}

.sidenav-content {
    min-height: 100vh;
    padding: 80px 3rem 1rem;
}